body
{
    /* background-color: black !important; */
    display: flex;
    flex-direction: column;

    min-height:100vh ;
}
.container{
    flex: 1;
    align-items: center;
}
.navbar
{
    height: 5rem;
    background-color: white;
}
.fa-compass
{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link
{
    color:#222222 !important;
}
.f-info-links a:hover
{
    text-decoration: underline;
}
.f-info-links a
{
    text-decoration: none;
    color: #222222;
    margin-left: 1rem;
}

.f-info
{
    display: flex;
    flex-direction: column; 
    align-items:center;

    justify-content: space-evenly;
    height: 8rem;
    background-color: #ebebeb;
}
.f-info-socials i
{
    margin-left: 1rem;
    font-size: 1.5rem;
}

/* cards */
.card{
    
}
.listing-card
{
    /* border: none !important; */

    /* margin-bottom: 2rem; */
}
.card-img-top
{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}
.card-body
{
    padding: 0 !important;
    margin-top: 0.6rem;
}
.card-body p
{
/* font-weight: 600; */
}
.row
{
    /* justify-content: center !important;    */
    /* align-items: center ; */
}
/* .mt-3
{
    margin-left: 2rem !important;
} */

a {
    color: inherit !important;
    text-decoration: none !important;
  }

/* card hover effect */
.card-img-overlay
{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.5;
    background-color: white;
}
.title
{
    /* margin-top: 40px; */
    margin-bottom: 15px;
}
input:focus,
textarea:focus {
  border: 2px solid #007bff !important; /* Set your desired highlight color */
  outline: none !important; /* Remove the default outline */
}

/* New Bttn */
/* add-bttn */
.add-bttn
{
    background-color: #fe424d !important;
    border: none !important;
}

/* show page bttns */
.btns
{
    display: flex;
    color: white;
}
.edit-btn
{
    background-color: #fe424d !important;
}
.btn
{
    width: 150px !important;
}

/* map */
#map
{
    height: 400px;
    width: 84vh;
    margin-bottom: 10px;
}